spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://localhost:5432/dearobjet
    username: dearobjet
    password: dearobjet1234

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug